<div class="trainingData">
  <table class="table table-hover">
    <thead>
    <tr>
        <td><b>Title</b></td>
        <td><b>Topics</b></td>
        <td><b>Days</b></td>
        <td><b>Trainer</b></td>
        <td><b>Sessions</b></td>
        <td colspan="5"><b>Actions</b></td>
    </tr>
    </thead>

    <tbody>
        <tr *ngFor="let training of trainings">
            <td>{{ training.title }}</td>
            <td>{{ training.topics }}</td>
            <td>{{ training.days }}</td>
            <td>{{ training.trainer }}</td>
            <td colspan="5">{{ training.sessions }}</td>
            <td><a [routerLink]="['/training/users/', training._id]" class="btn btn-primary">Users</a></td>
            <td><a [routerLink]="['/training/edit/', training._id]" class="btn btn-primary">Edit</a></td>
            <td><a (click) = "deleteTraining(training._id)" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
  </table>
</div>
